*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.winter {
    background-image: url("winter.gif");
}

.summer {
    background-image: url("summer.gif");
    background-color: #8495e7;
}

.autumn {
    background-image: url("autumn.gif");
    background-color: #d3beab;
}

.spring {
    background-image: url("spring.gif");
}

.winter,
.autumn,
.summer,
.spring {
    min-width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}