*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.winter {
    background-image: url("winter.gif");
}

.summer {
    background-image: url("summer.gif");
    background-color: #8495e7;
}

.autumn {
    background-image: url("autumn.gif");
    background-color: #d3beab;
}

.spring {
    background-image: url("spring.gif");
}

.winter,
.autumn,
.summer,
.spring {
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.list {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: space-around;
}

.link {
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

.summer a {
    color: #ffffff;
}