*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.winter {
    background: url("winter.gif");
}

.summer {
    background: url("summer.gif");
}

.autumn {
    background: url("autumn.gif");
}

.spring {
    background: url("spring.gif");
}

.winter,
.autumn,
.summer,
.spring {
    background-size: cover;
}